h1 {
  text-align: center;
  font-size: 40px;
}

#map {
  width: 50%;
  height: 400px;
  background: gray;
  margin: auto;
}

#info {
  width: 60%;
  background: gray;
  height: 200px;
  margin: auto;
}
